<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Review</title>
</head>
<body>
    <style th:replace="~{fragments :: style}"></style>
    <div th:replace="~{fragments :: head}"></div>
    <div th:replace="~{fragments :: header-nav}"></div>

    <h4 class="text-white">Update Review</h4>
    <form th:action="@{'/reviews/update/' + ${review.id}}" method="post">
        <input type="hidden" th:field="*{review.id}"/>
        <label class="text-white" for="title">Text:</label>
        <input type="text" id="title" th:field="*{review.text}"/>

        <label class="text-white" for="text">Conclusion:</label>
        <input type="text" id="text" th:field="*{review.conclusion}"/>

        <label class="text-white" for="dateOfSubmission">Date of submission:</label>
        <input type="date" id="dateOfSubmission" th:field="*{review.dateOfSubmission}"/>

        <label class="text-white" for="isPassed">Is it passed?: </label>
        <input type="checkbox" id="isPassed" th:field="*{review.passed}"/>

        <label class="text-white" for="reviewerId">Reviewer Id: </label>
        <select id="reviewerId" th:field="*{review.reviewerId}">
            <option th:each="reviewerId : ${reviewerIds}"
                    th:value="${reviewerId}"
                    th:text="${reviewerId}"
                    th:selected="${reviewerId == review.reviewerId}">
            </option>
        </select>

        <label class="text-white" for="thesisId">Thesis Id: </label>
        <select id="thesisId" th:field="*{review.thesisId}">
            <option th:each="thesisId : ${thesisIds}"
                    th:value="${thesisId}"
                    th:text="${thesisId}"
                    th:selected="${thesisId == review.thesisId}">
            </option>
        </select>

        <button class="btn btn-info mx-2 my-2" type="submit">Update review</button>
    </form>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>