<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Thesis</title>
</head>
<body>
    <style th:replace="~{fragments :: style}"></style>
    <div th:replace="~{fragments :: head}"></div>
    <div th:replace="~{fragments :: header-nav}"></div>

    <h4 class="text-white mx-2 my-2">Update Thesis</h4>
    <form th:action="@{'/theses/update/' + ${thesis.id}}" method="post">
        <input type="hidden" th:field="*{thesis.id}"/>
        <label class="text-white mx-2 my-2"for="title">Title:</label>
        <input type="text" id="title" th:field="*{thesis.title}"
               th:style="'border:3px solid black; border-radius:8px; padding:2px;'"
        />

        <label class="text-white mx-2 my-2"for="text">Text:</label>
        <input type="text" id="text" th:field="*{thesis.text}"
               th:style="'border:3px solid black; border-radius:8px; padding:2px;'"
        />

        <label class="text-white mx-2 my-2"for="dateOfSubmission">Date of submission:</label>
        <input type="date" id="dateOfSubmission" th:field="*{thesis.dateOfSubmission}"
               th:style="'border:3px solid black; border-radius:8px; padding:2px;'"
        />

        <label class="text-white mx-2 my-2"for="applicationId">Application id:</label>
        <select id="applicationId" th:field="*{thesis.applicationId}"
                th:style="'border:3px solid black; border-radius:8px; padding:2px;'"
        >
            <option th:each="applicationId : ${applicationIds}"
                    th:value="${applicationId}"
                    th:text="${applicationId}"
                    th:selected="${applicationId == thesis.applicationId}">
            </option>
        </select>

        <button class="btn btn-info mx-2 my-2" type="submit">Update thesis</button>
    </form>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>