<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a Student</title>
</head>
<body>
    <style th:replace="~{fragments :: style}"></style>
    <div th:replace="~{fragments :: head}"></div>
    <div th:replace="~{fragments :: header-nav}"></div>
    <h4 class="text-white">Create a Student</h4>
    <form th:action="@{/students/save}" th:object="${student}" method="post">
        <div class="form-group">
            <label class="text-white"for="name">Name: </label>
            <input class = "form-control" type="text" id="name" th:field="*{name}"/>
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
            <label class="text-white"for="FNumber">FNumber: </label>
            <input class = "form-control" type="text" id="FNumber" th:field="*{FNumber}"/>
            <span class="text-danger" th:if="${#fields.hasErrors('FNumber')}" th:errors="*{FNumber}">Faculty number Error</span>
        </div>
        <button class="btn btn-info mx-2 my-2" type="submit">Save Student</button>
    </form>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>