<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update application</title>
</head>
<body>
    <style th:replace="~{fragments :: style}"></style>
    <div th:replace="~{fragments :: head}"></div>
    <div th:replace="~{fragments :: header-nav}"></div>

    <h4 class="text-white mx-2 my-2">Update application</h4>
    <form th:action="@{'/applications/update/' + ${appl.id}}" method="post">
        <input type="hidden" th:field="*{appl.id}"/>
        <label class="text-white mx-2 my-2" for="topic">Topic:</label>
        <input type="text" id="topic" th:field="*{appl.topic}"
               th:style="'border:3px solid black; border-radius:8px; padding:4px;'"
        />

        <label class="text-white mx-2 my-2" for="aims">Aims:</label>
        <input type="text" id="aims" th:field="*{appl.aims}"
               th:style="'border:3px solid black; border-radius:8px; padding:4px;'"
        />

        <label class="text-white mx-2 my-2" for="problems">Problems:</label>
        <input type="text" id="problems" th:field="*{appl.problems}"
               th:style="'border:3px solid black; border-radius:8px; padding:4px;'"
        />

        <label class="text-white mx-2 my-2" for="technologies">Technologies:</label>
        <input type="text" id="technologies" th:field="*{appl.technologies}"
               th:style="'border:3px solid black; border-radius:8px; padding:4px;'"
        >
        <label class="text-white mx-2 my-2" for="status">Status:</label>
        <select id="status" th:field="*{appl.status}"
                th:style="'border:3px solid black; border-radius:8px; padding:4px;'">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:text="${status}"
                    th:selected="${status == appl.status}">
            </option>
        </select>

        <label class="text-white mx-2 my-2" for="studentId">Student id:</label>
        <select id="studentId" th:field="*{appl.studentId}"
                th:style="'border:3px solid black; border-radius:8px; padding:4px;'">
            <option th:each="studentId : ${studentIds}"
                    th:value="${studentId}"
                    th:text="${studentId}"
                    th:selected="${studentId == appl.studentId}">
            </option>
        </select>

        <label class="text-white mx-2 my-2" for="tutorId">Supervisor id:</label>
        <select id="tutorId" th:field="*{appl.tutorId}"
                th:style="'border:3px solid black; border-radius:8px; padding:4px;'">
            <option th:each="tutorId : ${tutorIds}"
                    th:value="${tutorId}"
                    th:text="${tutorId}"
                    th:selected="${tutorId == appl.tutorId}">
            </option>
        </select>

        <button class="btn btn-info mx-2 my-2" type="submit">Update application</button>
    </form>
    <footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>